{% extends 'student/base.html' %}
{% block content %}

          <!-- Content wrapper -->
          <!-- Modal -->
          <div class="modal modal-top fade" id="modalTop" tabindex="-1">
            <div class="modal-dialog">
              <form class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modalTopTitle">Details</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="row text-center mb-3" class="img-fluid">
                      <div class="mx-2">
                        <img src="'+ src +'" width="300" id="imagehere" alt="girl-with-laptop-light">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="NIM" class="col-md-2 col-form-label">NIM</label>
                      <div class="col-md-10">
                          <input class="form-control" type="text" id="NIM" name="NIM" style="border: none; outline: none;" />
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="Name" class="col-md-2 col-form-label">Name</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" id="Name" name="Name" style="border: none; outline: none;" />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="Lesson" class="col-md-2 col-form-label">Lesson</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" id="Lesson" name="Lesson" style="border: none; outline: none;" />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="Meeting" class="col-md-2 col-form-label">Meeting</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" id="Meeting" name="Meeting" style="border: none; outline: none;" />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="Time In" class="col-md-2 col-form-label">Time In</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" id="Time In" name="Time In" style="border: none; outline: none;" />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="Status" class="col-md-2 col-form-label">Status</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" id="Status" name="Status" style="border: none; outline: none;" />
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save</button>
                </div>
              </form>
            </div>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body text-center">
                  <p>Youre don't have course for attendance</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
          <div class="content-wrapper">

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row">
                <!-- Total Revenue -->
                <div class="col-12 col-lg-7 order-2 order-md-3 order-lg-2 mb-4">
                    <div class="card">
                      <div class="row row-bordered g-0">
                        <div class="col-md-8">
                            <h5 class="card-header m-0 me-2 pb-3">Scan youre face here</h5>
                            <div class="text-center">
                              {% for data in data %}
                              <input class="form-control" type="text" id="user_id" name="user_id" value="{{ data.student_id }}" hidden/>
                              <input class="form-control" type="text" id="user_name" name="user_name" value="{{ data.username }}" hidden/>
                              <input class="form-control" type="text" id="lesson" name="lesson" value="{{ data.lesson }}" hidden/>
                              <input class="form-control" type="text" id="meet" name="meet" value="{{ data.meet }}" hidden/>
                              {% endfor %}
                                <div  class="px-4">
                                    <div id="video_wrapper" class="px-2 mb-4">
                                        {% if is_camera %}
                                          <img src="{{ url_for('video_feed') }}" width="480">
                                        {% else %}
                                          <img src="/static/img/no_video.png" width="480">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--/ Total Revenue -->
                
                <!-- Transactions -->
                <div class="col-md-6 col-lg-5 order-2 mb-4" id="history"> 
              </div>
            </div>

{% endblock %}
{% block script %}
            <!-- <script>
              var socket = io();
              socket.on('connect', function(msg) {
                  socket.emit('server_event', {data: 'this is from browser on connected!'});
              });

              socket.on('client_event', function(msg) {
                  var content = $("#output").html()
                  $("#output").html(msg + '<br>' + content);
                  socket.emit('server_event', {data: 'this is from browser!'});
              });

            </script> -->

<script>
  var socket = io();
  var nim = $('#id_user').val();
  var name = $('#user_name').val();
  var lesson = $('#lesson').val();
  var meet = $('#meet').val();
  socket.on('prediction', function(message) {
    var frame = new Uint8Array(message.frame);
    var src = URL.createObjectURL( new Blob([frame], { type: 'image/png' }));
    "{% if data %}"
 
      var img = new Image();
      $("#imagehere").attr('src', src);
      $("#NIM").attr('value', nim);
      $("#Name").attr('value', name);
      $("#Lesson").attr('value', lesson);
      $("#Meet").attr('value', meet);
      $("#In").attr('value', message.time)
      $("#Status").attr('value', "Attend")

      $("#modalTop").modal("show")
    "{% else %}"
        $("#exampleModal").modal("show")
    "{% endif %}" 
      
      
  });
</script>
{% endblock %}
