{% extends 'lecture/base.html' %}
{% block content %}
{% set active_page = 'history' %}
<!-- Small table -->
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
        <h5 class="card-header">Student Attendance Recap</h5>
        <div class="table-responsive text-nowrap">
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th>Lesson id</th>
                <th>Lesson</th>
                <th>Class</th>
                <th>Room</th>
                <th>Day</th>
                <th>Start</th>
                <th>end</th>
            </tr>
            </thead>
            <tbody class="table-border-bottom-0">
            <tr>
                {% for schedule in schedule %}  
                {% if schedule.lecture_id == session.id %}
                <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ schedule.lesson_id }}</strong></td>
                <td>{{ schedule.lesson }}</td>
                <td><span class="badge bg-label-primary me-1">{{ schedule.class }}</span></td>
                <td><span class="badge bg-label-primary me-1">{{ schedule.room }}</span></td>
                <td>{{ schedule.day }}</td>
                <td>{{ schedule.start }}</td>
                <td>{{ schedule.end }}</td>
                <td>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>
  <!--/ Small table -->
{% endblock %}